.marker-icon {
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-image: url('../images/beer.png');
}
/* stupid marker */
.place{
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -10px;
  top: -10px;  
  border: 1px solid blue;
  background: red;
  color: yellow; 
}
